/* CSS variables */

:root {

    /* Colors */

    --clr-gray: hsl(0, 0%, 98%);
    --clr-darker-gray: hsl(229, 6%, 66%);
    --clr-darkest-gray: hsl(234, 12%, 34%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-blue: #549ef2;
    --clr-purple: #5600F9;
    --clr-red: hsl(0, 78%, 62%);
    --clr-orange: hsl(34, 97%, 64%);

    /* Fonts */

    --ff: 'Poppins', sans-serif;
    --fw-extra-light: 200;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fs-h1: clamp(30px, 6vw, 36px);
    --fs-h2: 26px;
    --fs-p: 18px;

    /* Other variables */

    --shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);

}    

/* General styling */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--ff);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 2fr;
    grid-row-gap: 10px;
    grid-template-areas: 
    ". . ."
    ". m ."
    ". f .";
    background-color: var(--clr-gray);
}

.main {
    grid-area: m;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styling */

.header {
    width: clamp(300px, 85vw, 600px);
}

.header__subtitle {
    font-size: var(--fs-h1);
    font-weight: var(--fw-extra-light);
    text-align: center;
    margin: 0;
    color: var(--clr-darkest-gray);
}

.header__title {
    font-size: var(--fs-h1);
    font-weight: var(--fw-semi-bold);
    text-align: center;
    margin: 0;
    color: var(--clr-darkest-gray);
}

.header__description {
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    text-align: center;
    color: var(--clr-darker-gray);
}

/* Container-card styling */

.container-card {
    display: flex;
    justify-content: space-between;
    width: clamp(300px, 85vw, 1300px);
    margin-top: 40px;
}

.rail-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(300px, 31%, 400px);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-gray);
    box-shadow: var(--shadow);
    border-radius: 0px 0px 10px 10px;
    padding: 2em;
    margin-bottom: 30px;
}

.card--cyan {
    border-top: 5px solid var(--clr-cyan);
}

.card--red {
    border-top: 5px solid var(--clr-red);
}

.card--orange {
    border-top: 5px solid var(--clr-orange);
}

.card--blue {
    border-top: 5px solid var(--clr-blue);
}

.card__title {
    margin: 0;
    color: var(--clr-darkest-gray);
    font-size: var(--fs-h2);
    font-weight: var(--fw-semi-bold);
}

.card__description {
    margin-top: 10px;
    color: var(--clr-darker-gray);
    font-weight: var(--fw-regular);
    font-size: var(--fs-p);
}

.card__image {
    align-self: flex-end;
    margin-top: 20px;
}

/* Attribution styling */

.attribution {
    grid-area: f;
    align-self: end;
    justify-self: center;
}

.attribution__text {
    margin: 0;
    color: var(--clr-darker-gray);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
}

.attribution__text:last-of-type {
    margin-bottom: 10px;
}

.attribution__link:link {
    color: var(--clr-blue);
}

.attribution__link:visited {
    color: var(--clr-purple);
}

.attribution__link:hover {
    text-decoration: none;
    color: var(--clr-cyan);
}

.attribution__link:active {
    color: var(--clr-orange);
}

/* Media Queries */

@media (max-width: 1100px) {
    .container-card {
        flex-direction: column;
        align-items: center;
    }

    .rail-card {
        width: clamp(300px, 100%, 650px);
    }
}